@model IEnumerable<eShopping.NET.Models.ViewModels.Cart.CartVM>

@{
    ViewBag.Title = "Cart Details";
}

<h2>Cart Details</h2>
@if (ViewBag.Message != null)
{
    <h3>
        @ViewBag.Message
    </h3>
}
else
{
    <table class="table">
        <tr>

            <th>
                Name
            </th>
            <th>
                Quantity
            </th>
            <th>
                Price
            </th>
            <th>
                Image
            </th>
            <th>
                Total
            </th>
            <th>

            </th>

        </tr>

        @foreach (var item in Model)
    {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.ProductName)
            </td>
            <td class="quantity@(item.ProductId)">
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                €@Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                <img src="/Images/Uploads/Products/@item.ProductId/Thumbs/@item.Image" />
            </td>
            <td class="total@(item.Total)">
                €@Html.DisplayFor(modelItem => item.Total)
            </td>
            <td>
                <a href="#" class="incrementProduct" data-id="@item.ProductId">+</a>
                <a href="#" class="decrementProduct" data-id="@item.ProductId">-</a>
                <a href="#" class="removeProduct" data-id="@item.ProductId">Remove</a>
            </td>


        </tr>
}
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td class="grandtotal"><b>Grand Total: </b>€<span>@ViewBag.GrandTotal</span></td>

        </tr>
    </table>
}

@section Scripts{
<script>
    $(function () {
        /*Increment product  */
        $("a.incrementProduct").click(function (e) {
            e.preventDefault();

            var productId = $(this).data("id");
            var url = "/cart/IncrementProduct";

            $.getJSON(url, { productId: productId }, function (data) {

                $("td.quantity" + productId).html(data.quantity);

                var price = data.quantity * data.price;
                var priceHtml = "€" + price.toFixed(2);

                $("td.total" + productId).html(priceHtml);


                var gt = parseFloat($("td.grandtotal span").text())
                var grandtotal = (gt + data.price).toFixed(2);

                $("td.grandtotal span").text(grandtotal);
            });

        });

        /* Decrement product*/
        $("a.decrementProduct").click(function (e) {
            
            e.preventDefault();
            var that = $(this);
            var productId = $(this).data("id");
            var url = "/cart/DecrementProduct";

            $.getJSON(url, { productId: productId }, function (data) {
                if (data.quantity == 0) {
                    that.parent().parent().fadeOut("fast", function () {
                        location.reload();
                    });
                }
                else {
                    $("td.quantity" + productId).html(data.quantity);

                    var price = data.quantity * data.price;
                    var priceHtml = "€" + price.toFixed(2);

                    $("td.total" + productId).html(priceHtml);


                    var gt = parseFloat($("td.grandtotal span").text())
                    var grandtotal = (gt - data.price).toFixed(2);

                    $("td.grandtotal span").text(grandtotal);
                }                
            });
        });

        /* Remove product */
        $("a.removeProduct").click(function (e) {
            e.preventDefault();

            var that = $(this);
            var productId = $(this).data("id");
            var url = "/cart/RemoveProduct";

            $.get(url, { productId: productId }, function (data) {
                location.reload();
            });
        });

    });



</script>
}